<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conway's Game of Life: With a Twist</title>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
  <script type="text/javascript" src="javascripts/components/director.js"></script>
  <script type="text/javascript" src="javascripts/components/cell.js"></script>
  <script type="text/javascript" src="javascripts/sketch.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
</head>
<body>
  <div class="main">
    <div class="title">
      Conway's Twisted Game of Life
    </div>
    <div class="content">
      <div>
        <div id="p5-canvas" class="canvas-container"></div>
      </div>
      <div class="info-container">
        <div class="flex-container">
          <div class="block">
            <span class="cell-label">Game Speed: </span><input class="game-speed" type="number">
          </div>
          <button onClick="updateTGOL()" class="block-updater">Update Settings</button>
          <button onClick="startTGOL()" class="block-starter">Start</button>
        </div>
      </div>
    </div>
    
  </div>
</body>

</html>